.brand a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
/* 
body{
    background-image: url("https://www.triplejunearthed.com/sites/default/files/artists/public/2/4/5/8/8/1//ec3a462e-6590-42fc-bb8d-e1dc10a8cd77.png") no-repeat;
} */