.arttis--content {
    display: inline-flex;
    padding-top: 50px;
    padding-left: 400px;
}

.arttis--img img {
    width: 300px;
    /* padding-left: 30px; */
    border-radius: 50%;
}

.arttis--img {
    cursor: pointer;
    padding-bottom: 30px;
}

.grid-container {
    padding-top: 30px;
}

.arrttis--infor {
    padding-left: 50px;
    line-height: 50px;
}