/* Full HD Resolution */
/* nav.mobile, */
/* .mobile-container */
/* .pMobile-dock {
  display: none;
} */

/* Smaller Resolution Desktops and Laptops */
@media (max-width: 800px) {
  /*  */
}

/* Smaller Device (iPad, Tablet) */
@media (max-width: 650px) {
  /*  */
}

/* Flagship or Phablet */
@media (max-width: 450px) {
  /* Top */
  /* nav {
    overflow: hidden;
  } */
  nav {
    justify-content: space-between;
    margin: 10px;
  }
  .brand span {
    display: none;
  }
  
  .search-bar {
    border-radius: 50%;
    overflow: hidden;
    width: 34px;
    padding: 8px;
  }
  .search-bar input {
    display: none;
  }
  .search-bar i {
    /* position: relative;
    left: 9px;
    top: 0px;
    right: 5px;
    bottom: 0px; */
  }
  .search-bar input {
  }
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: transparent;
  }

  /* body */
  /* browser */
  .header-title {
    font-size: 20px;
  }
  .grid-container {
    overflow-y: scroll;
    display: block;
  }
  .grid-item {
    margin: 5px 5%;
    width: 109.9%;
    display: flex;
    border-radius: 5px;
    background-color: #434343;
    padding: 20px;
    font-size: 16px;
    width: 90%;
  }
  .grid-item_img img {
    border-radius: 5px;
    padding: 0 10px;
    width: 100px;
  }

  /* bottom */
  .player-dock {
    left: 2.5%;
    padding: 0 5px;
    width: 95%;
  }
  button#prev,
  button#next,
  .progress-container,
  .control-volume {
    display: none;
  }
  button#play {
    padding: 16px 0px;
  }
  /* .pMobile-dock {
    display: flex;
    position: fixed;
    background-color: #005caf;
    border-radius: 5px;
    width: 95%;
    height: 62px;
    bottom: 1%;
    right: 3%;
  } */
}

/* Small Mobile Display */
@media only screen and (min-device-width: 320px) and (max-device-width: 410px) {
  /* Body */
  .header-title {
    font-size: 18px;
  }

  /* bottom */
  .meta-info {
    width: 120px;
    overflow: hidden;
    margin: 0px 6px;
  }
}

@media (max-width: 320px) {
  .meta-info {
    width: 90px;
  }
}
