@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  top: 0;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  color: #fcfaf2;
  margin: 0;
}

/* Top Navigation */

.acryllic {
  left: 0;
  right: 0;
  top: 0;
  height: 88.4px;
  position: fixed;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 200;
}

nav {
  display: flex;
  transition: 0.5s;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left div {
  margin: 5px;
}

.brand {
  cursor: pointer;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 92, 175, 0.7);
  transition: 0.5s;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: bold;
}

.brand:hover {
  background-color: rgba(0, 92, 175);
}

.brand i,
.brand span {
  padding: 0 5px;
}

.search-bar {
  cursor: pointer;
  width: 172px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  justify-content: space-between;
  margin: 0;
  transition: 0.5s;
  padding: 0px 25px;
  border-radius: 20px;
  display: flex;
}

.search-bar input {
  width: 70%;
  background: none;
  outline: none;
  color: #fcfaf2;
  padding: 10px;
  border: none;
}

.search-bar i {
  display: inline;
  padding: 12px 0px;
  animation: fade 0.5s linear;
  cursor: pointer;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.nav-right {
  cursor: pointer;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 92, 175, 0.7);
  transition: 0.5s;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}
.nav-right:hover {
  background-color: rgba(0, 92, 175);
}

/* body */

.header-title {
  font-size: 24px;
  text-align: center;
  margin: 15px 0;
}

.bottom-list-bar {
  margin: 20px 0;
}

.grid-item_songName {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px 0px;
  width: 100%;
  justify-content: center;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.grid-container::-webkit-scrollbar {
  display: none;
}

.grid-item {
  background-color: #434343;
  border: none;
  padding: 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 7px;
  cursor: pointer;
}

.grid-item_img img {
  width: 100%;
  border-radius: 5px;
}

/* Music Player Dock */

.player-dock {
  display: flex;
  position: fixed;
  background-color: rgba(0, 92, 175, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  justify-content: space-between;
  border-radius: 10px;
  transition: 0.5s;
  padding: 0 45px;
  z-index: 1000;
  top: 90%;
  left: 10%;
  height: 60px;
  width: 80%;
}
.player-dock:hover {
  background-color: rgba(0, 92, 175);
  transform: scale(1.001);
}

.show-player i,
.hide-player i {
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
}
.hide-player {
  display: none;
}

.track-meta {
  margin: 6px 0px;
  display: flex;
}

.small-albumcover {
  margin: 0 10px;
}

.small-albumcover img {
  border-radius: 5px;
  height: 45px;
}

.meta-info {
  margin: 5px;
}

.meta-info div {
  width: 160px;
  margin: 0px 6px;
  overflow-x: scroll;
  white-space: nowrap;
}

.meta-info div::-webkit-scrollbar {
  display: none;
}

.track-title {
  width: 100%;
}

/* music control */
.control-playback {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* playback option */
.playback-opt {
  display: flex;
  padding: 20px 5px;
}

.playback-opt i {
  margin: 0 15px;
}

.playback-opt i.fa-random {
  font-size: 18px;
}

.control-playback i {
  padding: 0 14px;
  font-size: 24px;
  transition: 0.5s;
  cursor: pointer;
}

.control-playback i:hover {
  transform: scale(1.1);
}

.control-playback i:active {
  transform: scale(0.99);
}

.action-btn {
  color: #fcfaf2;
  background: none;
  font-size: 18px;
  border: 0;
}

.action-btn i {
  padding: 0 10px;
}

.meta-info .artist-name {
  font-size: 11px;
  color: #fcfaf2;
}

/* volume container */

.control-volume {
  width: 30%;
  font-size: 18px;
  vertical-align: middle;
  display: flex;
}

.control-volume i {
  padding-top: 20px;
  margin: 0 10px;
}

.volume-maxsize {
  background-color: #113285;
  border-radius: 5px;
  cursor: pointer;
  margin: 28px 0;
  height: 4px;
  width: 100%;
}

.volume-size {
  background-color: #00896c;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* option menu */

.option-menu {
  padding: 21px 14px;
  font-size: 14px;
}

/* audio player */

.progress-container {
  background-color: #113285;
  border-radius: 5px;
  cursor: pointer;
  margin: 28px 20px;
  height: 4px;
  width: 100%;
}

.progress-container .progress {
  background-color: #00896c;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* bhe - box's hover effect */

.bhe {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s;
}

.bhe:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.01);
}

.bhe:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale(0.91);
}

.black-gap {
  height: 80px;
}

/* reponsive */

.show-player {
  display: none;
}

/* mobile portrait */
@media screen and (min-width: 280px) and (max-width: 673px) {
  /* Top */
  nav {
    justify-content: space-between;
    padding: 20px 10px;
  }
  .brand span {
    display: none;
  }
  .search-bar {
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    padding: 8px 10px;
  }
  .search-bar input {
    display: none;
  }
  .search-bar i {
    padding: 0 0;    
  }

  /* body */
  /* browser */
  .header-title {
    font-size: 18px;
  }
  .grid-container {
    overflow-y: scroll;
    display: block;
  }
  .grid-item {
    margin: 5px 5%;
    display: flex;
    border-radius: 5px;
    background-color: #434343;
    padding: 20px;
    font-size: 16px;
    height: 14%;
    width: 90%;
  }
  .grid-item_img {
    width: 25%;
  }
  .grid-item_img img {
    width: 100%;
  }
  .metainfo {
    padding: 0px 10px;
  }
  .meta-info div {
    width: 90px;
  }
  .grid-item_songName {
    padding-top: 10px;
  }

  /* bottom */
  .player-dock {
    top: 88%;
    left: 4%;
    padding: 0 5px;
    width: 92%;
  }
  .meta-info {
    width: 90px;
  }
  button#prev,
  button#next,
  .progress-container,
  .control-volume {
    display: none;
  }
  button#play {
    padding: 16px 0px;
  }
  .show-player {
    display: flex;
  }
}
@media screen and (max-width: 280px) {
  .header-title {
    font-size: 16px;
  }
  .track-meta {
    width: 100px;
  }
  .meta-info div {
    width: 40px;
  }
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  .player-dock {
    top: 77.5%;
  }
  button#prev,
  button#next {
    display: inline;
  }
}
@media screen and (min-width: 673px) and (max-width: 880px) {
  .grid-container {
    width: 100%;
    overflow: scroll;
  }
  .grid-item {
    width: 260px;
    display: flex;
  }
  .grid-item_img {
    width: 50%;
  }
  .grid-item_songName {
    padding-top: 3px;
  }
  .metainfo {
    padding: 0 10px;
  }
  .progress-container,
  .control-volume {
    display: none;
  }
  .show-player {
    display: inline;
  }
}

@media screen and (min-width: 820px) and (max-width: 880px) and (orientation: landscape) {
  .player-dock {
    top: 80%;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 860px) {
  .brand span {
    display: inline;
  }
  .grid-container {
    overflow-y: scroll;
    display: flex;
  }
  .grid-item {
    width: 260px;
    display: flex;
  }
  .grid-item_img {
    width: 100px;
  }
  .metainfo {
    padding: 10px 10px;
  }
  .progress-container {
    display: none;
  }
  .show-player {
    display: inline;
  }
}

/* laptop and larger screen */
@media screen and (min-width: 880px) and (max-width: 1024px) {
  .progress-container {
    display: none;
  }
  .show-player {
    display: inline;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .player-dock {
    padding: 0 10px;
  }
  .control-playback {
    margin: 0px 5px 0px 15px;
  }
  .progress-container {
    display: none;
  }
  .show-player {
    display: inline;
  }
  .meta-info {
    width: 80px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {
  .progress-container {
    display: none;
  }
}
@media screen and (max-width: 1465px) {
  .brand span {
    display: none;
  }
}
