@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  user-select: none;
  color: #fcfaf2;
  margin: 0;
}

/* Top Navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.nav-left__menuIcon {
  font-size: 30px;
  cursor: pointer;
  color: #fcfaf2;
  padding: 10px 15px;
  border: none;
}

@media screen and (max-height: 450px) {
  .sideBar {
    padding-top: 15px;
  }
  .sideBar a {
    font-size: 18px;
  }
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left div {
  margin: 5px;
}

.brand {
  cursor: pointer;
  background-color: #005caf;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: bold;
}

.brand i,
.brand span {
  padding: 0 5px;
}

.search-bar {
  background-color: #434343;
  padding: 0px 25px;
  border-radius: 20px;
}

.search-bar input {
  background: none;
  outline: none;
  color: #fcfaf2;
  padding: 10px;
  border: none;
}

.search-bar i {
  cursor: pointer;
}
.nav-right {
  background-color: #005caf;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

/* body */

.header-title {
  font-size: 24px;
  text-align: center;
  margin: 15px 0;
}

.bottom-list-bar {
  margin: 20px 0;
}

.grid-item_songName {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px 0px;
  width: 100%;
  justify-content: center;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.grid-item {
  background-color: #434343;
  border: none;
  padding: 20px;
  font-size: 16px;
  width: 200px;
  border-radius: 7px;
  cursor: pointer;
}

.grid-item_img img {
  width: 100%;
  border-radius: 5px;
}

/* Music Player Dock */

.player-dock {
  display: flex;
  position: fixed;
  background-color: #005caf;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 20px;
  top: 90%;
  left: 10%;
  height: 60px;
  width: 80%;
}

.showhide-player i {
  vertical-align: middle;
  padding: 20px 5px;
}

.track-meta {
  margin: 6px 0px;
  display: flex;
}

.small-albumcover {
  padding-left: 30px;
}

.small-albumcover img {
  border-radius: 5px;
  height: 45px;
}

.meta-info {
  margin: 5px;
}

.meta-info div {
  width: 160px;
  margin: 0px 6px;
}

.track-title {
  width: 100%;
}

/* music control */
.control-playback {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.control-playback #next {
  margin-right: 25px;
}

/* playback option */
.playback-opt {
  display: flex;
  padding: 20px 5px;
}

.playback-opt i {
  margin: 0 15px;
}

.playback-opt i.fa-random {
  font-size: 18px;
}

.control-playback i {
  padding: 0 14px;
  font-size: 24px;
  transition: 0.5s;
  cursor: pointer;
}

.control-playback i:hover {
  transform: scale(1.1);
}

.control-playback i:active {
  transform: scale(0.99);
}

.action-btn {
  color: #fcfaf2;
  background: none;
  font-size: 18px;
  border: 0;
}

.action-btn i {
  padding: 0 10px;
}

.meta-info .artist-name {
  font-size: 11px;
  color: #fcfaf2;
}

/* volume container */

.control-volume {
  width: 30%;
  font-size: 18px;
  vertical-align: middle;
  display: flex;
}

.control-volume i {
  padding-top: 20px;
  margin: 0 10px;
}

.volume-maxsize {
  background-color: #113285;
  border-radius: 5px;
  cursor: pointer;
  margin: 28px 0;
  height: 4px;
  width: 100%;
}

.volume-size {
  background-color: #00896c;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* option menu */

.option-menu {
  padding: 21px 14px;
  font-size: 14px;
}

/* audio player */

.progress-container {
  background-color: #113285;
  border-radius: 5px;
  cursor: pointer;
  margin: 28px 0;
  margin-right: 60px;
  height: 4px;
  width: 100%;
}

.progress-container .progress {
  background-color: #00896c;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* bhe - box's hover effect */

.bhe {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.bhe:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.01);
}

.bhe:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.9);
}

.black-gap {
  height: 80px;
}

/* Reponsive UI */
