/* Body */
body.dark {
  background-color: #1c1c1c;
  transition: 0.5s;
}
body.white {
  background-color: #fcfaf2;
  transition: 0.5s;
}

/* Top */
body.dark nav {
  background-color: rgba(28, 28, 28, 0.3);
}
body.white nav {
  background-color: rgba(252, 250, 242, 0.3);
}
body.white .search-bar {
  background-color: rgba(255, 255, 251, 0.3);
}
body.white .search-bar input,
body.white .search-bar i {
  color: #434343;
}
body.dark .search-bar {
  background-color: rgba(67, 67, 67, 0.5);
}
body.white .search-bar {
  background-color: rgba(255, 255, 251, 0.5);
}

body.dark .search-bar:hover {
  background-color: rgba(67, 67, 67);
}

body.white .search-bar:hover {
  background-color: rgba(255, 255, 251);
}

/* Grid */
body.white .header-title {
  color: #434343;
}
body.white .grid-item {
  background-color: #fffffb;
  color: #434343;
}

/* Bottom */
body.white .player-dock {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
