body.dark {
  background-color: #1c1c1c;
  transition: 0.5s;
}

body.white {
    background-color: #fcfaf2;
    transition: 0.5s;
}

body.white .header-title {
    color: #1c1c1c;
}

body.white div.bhe {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body.white div.bhe:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
