/* Body */
body.dark {
  background-color: #1c1c1c;
  transition: 0.5s;
}
body.white {
  background-color: #fcfaf2;
  transition: 0.5s;
}

/* Top */
body.white .search-bar {
  background-color: #fffffb;
}
body.white .search-bar input,
body.white .search-bar i {
  color: #434343;
}

/* Grid */
body.white .header-title {
  color: #434343;
}
body.white .grid-item {
  background-color: white;
  color: #434343;
}

/* Bottom */
body.white .player-dock {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
